# Copyright (c) 2015 Intracom S.A. Telecom Solutions. All rights reserved.
#
# This program and the accompanying materials are made available under the
# terms of the Eclipse Public License v1.0 which accompanies this distribution,
# and is available at http://www.eclipse.org/legal/epl-v10.html

# ------------------------------------------------------------------------------

sudo: required
language: python
python:
  - 2.7
  - 3.4
branches:
  only:
    - master
    - develop_release_1.1
install: ./vagrant/base/provisioning/provision.sh
script: ./run_tests.sh
notifications:
  email:
    - nstat@intracom-telecom.com
