sudo: required
dist: trusty
language: bash
jdk:
  - openjdk7
before_script:
  - sudo apt-get update -qq
  - sudo apt-get install openjdk-7-jdk openjdk-7-jre
  - sudo bash ./vagrant/base/provisioning/provision.sh
script:
  - echo "running a functional test"
  - bash ./run_tests.sh
